@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url(./reset.css);
$primary-color: linear-gradient(168.55deg, #71C09F 0%, #27434B 100%);
$width: 360px;

%font-styles {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
}

body {
    background: $primary-color;
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
}

/*main signs 
https://www.figma.com/file/mzDMTF7s0ZOjL5cJWrW8Eo/Calculator-(Community)?node-id=23%3A281&t=o1EgAAJsGovVz2sQ-4
*/

%button {
    width: 90px;
    height: 90px;
    background-color: transparent;
    border: none;
    font-size: 32px;
    line-height: 40px;
    cursor: pointer;
}

.calc {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 100vh;

    max-width: $width;
    margin: 0 auto;
    .calc__enter{
        padding-bottom: 8px;
        padding-right: 24px;
        @extend %font-styles;
        font-size: 24px;
        line-height: 28px;
        text-align: right;
        color: #ACFAFF;
    }
    .calc__result{
        padding-bottom: 48px;
        padding-right: 24px;
        @extend %font-styles;
        font-size: 64px;
        line-height: 75px;
        /* identical to box height */
        text-align: right;
        color: #ffffff;
    }
}
.calc__signs {
    display: flex;
    flex-flow: row wrap;
    width: 360px;
    
    border-top: 1px solid #70BE9D;
    .calc__btn {
        @extend %button;
        @extend %font-styles;
        color: #fff;
    }
    .calc__item-img{
        padding-left: 0;
    }
    .calc__operator{
        border-left: 1px solid #70BE9D;
        color: #70BE9D;
        padding: 0;
    }
    .calc__operator-plus {
        font-size: 2.5em;
    }
    .calc__operator-minus {
        font-size: 3.5em;
    }
    .calc__operator-equal {
        color: #fff;
        background-color: #70BE9D;
    }

    .calc__btn:hover {
        background-color: #70BE9D;
    }
    .calc__operator:hover {
        color: #fff;
    }
    .calc__btn:active {
        box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.63);
    }
    @media (max-width: 359px) {
        
        .calc__btn {
            width: 65px;
            height: 65px;
        }
    }
}
@media (max-width: 359px) {
    .calc__signs {
        width: 260px;
        margin: 0 auto;
    }
}
